{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}

{% block content %}

{# Make this an a tag later for filters #}
<div class="filter"><h4>Filter...</h4></div>

{# This needs to have some numbers changed to words#}
<section id="bookings">

    {% for booking in bookings %}

        <div class="booking">

            <h2>Instrument {{ bookings.person_booking }}</h2>

            <h3>{{ booking.days_booked }} day(s) from {{ booking.date_booked | format_date }} </h3>
            <p>Created {{ booking.created | format_human }} by {{ booking.person_booking }}</p>

        </div>

    {% endfor %}

</section>

{% endblock %}

