{#=====================================================
  Booking history
=====================================================#}

{% extends 'pages/_base.jinja' %}

{% block content %}

<div class="filter">

    <h4>Filter By...</h4>
    <a href="/bookings/history/flex">Flexible |</a>
    <a href="/bookings/history/fixed">Fixed |</a>
    <a href="/bookings/history/12i">12i Only |</a>
    <a href="/bookings/history/sx10">SX10 Only |</a>
    <a href="/bookings/history/dini">DiNi Only |</a>
    <a href="/bookings/history">Clear</a>

    <a href="/bookings">
    <h4>Back to Bookings</h4>
    </a>
</div>

<section class="bookings">
    <h2>Past Bookings</h2>

    {% for booking in bookings %}

        <article class="booking">

            <h2>{{ booking.instrument_name }} {{ "⿾" if booking.flexible }} </h2>

            <h3>Booked from {{ booking.date_booked | format("DD-MM") }} to {{ booking.booking_end | format("DD-MM") }}</h3>
            <p>Created {{ booking.created | format_human }} by {{ booking.surveyor_name }}</p>

            <a href="/booking/{{booking.booking_id}}/edit">Edit</a>

        </article>

    {% else %}

        <p>No Bookings!</p>

    {% endfor %}

</section>

{% endblock %}

