{#=====================================================
  Booking page
=====================================================#}

{% extends 'pages/_base.jinja' %}

{% block content %}

{# Make this an a tag later for filters #}
<div class="filter"><h4>Filter...</h4></div>

{# How to make the foreign key show up? #}
<section id="bookings">

    {% for booking in bookings %}

        <div class="booking">

            <h2>{{ booking.instrument_name }}</h2>

            <h3>Booked from {{ booking.date_booked | format("DD-MM") }} to {{ booking.booking_end | format("DD-MM") }}</h3>
            <p>Created {{ booking.created | format_human }} by {{ booking.surveyor_name }}</p>

        </div>

    {% endfor %}

</section>

{% endblock %}

