{#=====================================================
    Form for instrument status change
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

<article>

    <form method="post" action="/instrument/{{instrument.id}}">
        <h3>Edit Instrument</h3>

        <label>
            Status
            <select name="status" required>
                <option>In Office - Richmond</option>
                <option>In Office - Mot</option>
                <option>In Use - In Field</option>
                <option>Out for Servicing</option>
            </select>
        </label>
        <button>Update</button>

    </form>


</article>

{% endblock %}

