{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <section id="instruments">
        <div class="bookings">
            <a href="/bookings">
                <h2>Bookings</h2>
            </a>
        </div>

        {% for instrument in instruments %}

            <div class="instrument">

           
                <header>
                    <a href="/instrument/{{instrument.instrument_id}}"> 
                    <h3>{{ instrument.name }}</h3>
                    </a>
                </header>

                <a href="/instrument/{{instrument.instrument_id}}">
                <img src="app/static/images/{{instrument.id}}.png" alt="Image of {{instrument.name}}">
                </a>

                <h4>{{ instrument.status }} </h4>    
            

            </div>

        {% endfor %}

    </section>

{% endblock %}

