{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <section id="instruments">

        {% for instrument in instruments %}

            <div class="instrument">

                <header>
                    <h3>{{ instruments.name }}</h3>
                </header>

                <img src="//<int:id>/image" alt="{{ instrument.name }} image">  

                <footer>
                    Status last changed: {{ instruments.status_last_changed | local | format }}
                </footer>

            </div>

        {% endfor %}

    </section>

{% endblock %}

