{%extends 'pages/_base.jinja'%}

{%block content%}

<section id="instrument">

    <div class="name">
        <h2>{{instrument.name}}</h2>
    </div>

    <div class="unavail">
        <h2>UNAVAILABLE</h2>
    </div>
</section>

{%endblock%}