{%extends 'pages/_base.jinja'%}

{%block content%}

<section id="instrument">

    <header>
        {%block image%}
        {%endblock%}
        <h2>{{instrument.name}}</h2>
    </header>

    <div class="status">
        <h2>{{instrument.status}}</h2>
        <h4>Last updated:</h4>
        <p>{{ instrument.status_last_changed | format_human }}</p>
        
        <a href="/instrument/{{ instrument.instrument_id }}/edit">Update</a>
    </div>

</section>

{%endblock%}