{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <section id="instruments">

        {% for instrument in instruments %}

            <div class="instrument">

           
                <header>
                    <a href="/instrument/{{instrument.id}}"> 
                    <h3>{{ instrument.name }}</h3>
                    </a>
                </header>

                <a href="/instrument/{{instrument.id}}">
                <img src="app/static/images/{{instrument.id}}.png" alt="Image of {{instrument.name}}">
                </a>

                <h4>Status last changed: {{ instruments.status_last_changed | local | format }} </h4>    
            

            </div>

        {% endfor %}

    </section>

{% endblock %}

