/*===========================================================
  Survey Instrument Library
  By Maia Wingate
===========================================================*/

:root {
    --palette-col-1: #404040;
    --palette-col-2: #e8e8e8;
    --palette-col-3: #C8C8C8;
    --palette-col-4: #F7D04F;

    --text-col:       var(--palette-col-1);

    --back-col:       var(--palette-col-2);
    --back-col-panel: #FFF;

    --border-col:     var(--palette-col-3);

    --secondary-col:  var(--palette-col-4);
    --accent-col:     var(--palette-col-1);


}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--secondary-col);

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Notes --------------------------------------------------*/

#notes {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    align-items: start;

    .note {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem #0004;
        border: 2px solid var(--border-col);
        background-color: var(--back-col-panel);

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        footer {
            font-size: 0.8rem;
            font-style: italic;
        }

        &.pinned {
            border-color: var(--secondary-col);
        }
    }
}

